/exercisesJava/build/
/exercisesJavaPOO/nbproject/private/
/exercisesJavaPOO/build/
/exercisesJavaPOO_02/nbproject/private/
/exercisesJavaPOO_03/nbproject/private/
/exercisesJavaPOO_04/nbproject/private/
/exercisesJavaPOO_07/nbproject/private/
/exercisesJavaPOO_08/nbproject/private/
/exercisesJavaPOO_08/build/
/exercisesJavaPOO_03/build/
/exercisesJavaPOO_04/build/
/exercisesJavaPOO_09/nbproject/private/
/exercisesJavaPOO_09/build/
/exercisesJavaPOO_10/nbproject/private/
/exercisesJavaPOO_10/build/
/exercisesJavaPOO_11/nbproject/private/
/exercisesJavaPOO_11/build/
/exercisesJavaPOO_12/nbproject/private/
/AtributoDate/build/
/AtributoDate/nbproject/private/
/exercisesJavaPOO_12/build/